<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.r1lockscreen.overlay">
    <application android:hasCode="false" />
    <!-- Enabled at boot by magisk-modules/lockscreen-overlay/service.sh. -->
    <overlay
        android:targetPackage="com.android.systemui"
        android:isStatic="false"
        android:priority="1" />
</manifest>
